.alert-box{
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;
    display: none;
}
/* .alert-box{
    display: block;
} */


    /* <!-- 
        버튼1누르면 아이디 입력하세요
        버튼2누르면 비밀번호 입력하세요
        방법 1 알림창 미리 여러개. 100번 필요하면? x
        방법 2 알림창 하나만 두고 버튼1누르면 알림창 띄우는데 제목만 바꿔서 띄움.
             p 태그 안을 바꿔치기

        한글로 써서 작성
        1. p태그 내용을 아이디 입력으로 바꿈
        2. 띄움
    --> */


