.slide-container{
    width: 500vw;
    /* transition: all 1s; */


    /* 2번 버튼 누르면! 
    최종화면: 왼쪽으로 움직이면 될 것 같음  */
    /* margin-left: -100vw; 마진보다 트랜스폼이 좋음*/
    /* transform: translateX(-200vw); */
    /* transform: translateX(0); */
}
.slide-box{
    width: 100vw;
    float: left;
}
.slide-box img{
    width: 100%;
}